/* 
  This is a SAMPLE File to get you started. Follow the instructions on the project to complete the tasks. 
  You'll probably need to override some of theese styles.
*/

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    position: relative;
}

body {
    font-family: var(--font-family-base);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-regular);
    min-height: var(--line-height-base);
    text-decoration: none;
    background-color:var(--color-primary);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    width: 100%;
}

/* Custom properties */
:root {

    /* Colors */
    --color-primary: #f5f5f5;
    --color-header-pale-olive-bg: #e0e5b6;
    --color-buttons-dark-olive-bg: #c0c693;
    --color-footer-pale-olive-bg: #e0e5b6;
    --text-color: #645853;
    --hover-color: #799a9c;

    /* Fonts */
    --font-family-base: 'Open Sans', 'Roboto',  'Lato';
    --font-family-title: 'Montserrat', 'Poppins', 'Merriweather';
    --font-size-small: 1.4rem;
    --font-size-medium: 1.6rem;
    --font-size-large: 1.8rem;
    --font-size-x-large: 2.3rem;
    --font-size-xx-large: 4.8rem;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --line-height-small: 1.2;
    --line-height-base: 1.5;
    --line-height-big: 1.8;

    /* Sections */
    --section-header-align: center;
    --section-header-padding: 0;
    --section-header-width:  100%;
    --section-footer-align: center;
    --section-footer-padding: 10px;
    --section-footer-width: 100%;
    --section-tagline-transform: uppercase;
    --section-title-margin: 0;
    --section-padding-place-cards: 10px;

    /* Nav Items */
    --nav-item-font-family: var(--font-family-title);
    --nav-item-font-weight: var(--font-weight-bold);
    --nav-item-font-size: var(--font-size-medium);
    --nav-item-letter-spacing: calc(0.04 * var(--root-element));
    --nav-item-display: inline-block;
    --nav-item-margin: calc(3 * var(--root-element)) 0 0 0;
    --nav-item-link-hover: var(--hover-color);

    /* Button Items */
    --button-display: inline-block;
    --button-padding: 10px 20px;
    --button-border: 0.2rem solid var(--color-primary);
    --button-hover-color:var(--hover-color);
    --button-text-decoration: none;
    --button-font-size:var(--font-size-large);
    --header-logo-position: relative;
    --header-logo-link-display: inline-block;
    --header-logo-link-position: absolute;
    --header-logo-link-top: -1rem;
    --header-logo-link-left:0;
    --transition-duration: .3s;
    --transition-cubic-bezier: cubic-bezier(0.17, 0.67, 0, 1.01);
}

/* Header and Footer */
.header {
    background-color: var(--color-header-pale-olive-bg);
    padding: var(--section-header-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--section-header-width);
    margin: 0;
    box-sizing: border-box;
}

.footer {
    position: fixed;    
    margin: 0px;
    bottom: 0px;
    padding: var(--section-footer-padding);
    background-color:var(--color-footer-pale-olive-bg);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--section-footer-width);
    text-align: center;
    font-family: var(--font-family-title);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-regular);
}

/* Navigation */
nav {
    margin: 30px;
    padding: 0;
    text-decoration: none;
    align-items: center;
}

nav .logo {
    padding: 10px;
    margin: 0 20px;
    background-image: url(images/logo.png);
    background-size: contain;
    background-position: center;
    width: 100px;
    height: 50px;
    background-repeat: no-repeat;
    display: flex;
}

nav .login-button {
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family-title);
    font-size: var(--font-size-x-large);
    font-weight: var(--font-weight-regular);
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 20px;
    
}

nav .login-button:hover {
    background-color: var(--button-hover-color);
    border-radius: 5px;
    padding: 5px;
}

nav .login-button:active {
    background-color: var(--button-color);
}

nav .login-button:focus {
    outline: none;
    background-color: var(--button-color);
}

/* Place Cards*/
#places-list {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 0;
}

.place-card {
    width: 350px;
    height: 300px;
    margin: 20px;
    padding:10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.place-card h2 {
    font-family: var(--font-family-title);
    font-size: var(--font-size-x-large);
    font-weight: var(--font-weight-bold);
    padding: 7px;
}

.place-card p {
    font-family: var(--font-family-base);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-regular);
}
.place-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.details-button {
    display: inline-block;
    padding: var(--button-padding);
    margin-top: 10px;
    color: var(--text-color);
    background-color: var(--color-buttons-dark-olive-bg);
    border: none;
    border-radius: 5px;
    text-decoration: var(--button-text-decoration);
    text-align: center;
}
.details-button:hover {
    border: var(--button-border);
    background-color: var(--button-hover-color);
}

/* Other */
main {
    padding: 2rem;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: var(--font-family-title);
    font-weight: var(--font-weight-bold);
}

#title {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: var(--font-size-x-large);
    font-family: var(--font-family-title);
    font-weight: var(--font-weight-bold);
}

#filter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    padding: 0;
    font-family: var(--font-family-base);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-large);
}
