/* 
  This is a SAMPLE File to get you started. Follow the instructions on the project to complete the tasks. 
  You'll probably need to override some of these styles.
*/

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    position: relative;
    height: 100%;
    margin: 0;
}

body {
    font-family: var(--font-family-base);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-regular);
    min-height: var(--line-height-base);
    text-decoration: none;
    background-color: var(--color-primary);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* Custom properties */
:root {
    /* Colors */
    --color-primary: #f5f5f5;
    --color-header-pale-olive-bg: #e0e5b6;
    --color-buttons-dark-olive-bg: #c0c693;
    --color-footer-pale-olive-bg: #e0e5b6;
    --text-color: #645853;
    --hover-color: #799a9c;

    /* Fonts */
    --font-family-base: 'Open Sans', 'Roboto', 'Lato';
    --font-family-title: 'Montserrat', 'Poppins', 'Merriweather';
    --font-size-small: 1.4rem;
    --font-size-medium: 1.6rem;
    --font-size-large: 1.8rem;
    --font-size-x-large: 2.3rem;
    --font-size-xx-large: 4.8rem;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --line-height-small: 1.2;
    --line-height-base: 1.5;
    --line-height-big: 1.8;

    /* Sections */
    --section-header-align: center;
    --section-header-padding: 0;
    --section-header-width: 100%;
    --section-footer-align: center;
    --section-footer-padding: 10px;
    --section-footer-width: 100%;
    --section-tagline-transform: uppercase;
    --section-title-margin: 0;
    --section-padding-place-cards: 10px;

    /* Nav Items */
    --nav-item-font-family: var(--font-family-title);
    --nav-item-font-weight: var(--font-weight-bold);
    --nav-item-font-size: var(--font-size-medium);
    --nav-item-letter-spacing: calc(0.04 * var(--root-element));
    --nav-item-display: inline-block;
    --nav-item-margin: calc(3 * var(--root-element)) 0 0 0;
    --nav-item-link-hover: var(--hover-color);

    /* Button Items */
    --button-display: inline-block;
    --button-padding: 10px 20px;
    --button-border: 0.2rem solid var(--color-primary);
    --button-hover-color: var(--hover-color);
    --button-text-decoration: none;
    --button-font-size: var(--font-size-large);
    --header-logo-position: relative;
    --header-logo-link-display: inline-block;
    --header-logo-link-position: absolute;
    --header-logo-link-top: -1rem;
    --header-logo-link-left: 0;
    --transition-duration: .3s;
    --transition-cubic-bezier: cubic-bezier(0.17, 0.67, 0, 1.01);
}

/* Header and Footer */
.header {
    background-color: var(--color-header-pale-olive-bg);
    padding: var(--section-header-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--section-header-width);
    margin: 0;
    box-sizing: border-box;
}

.footer {
    position: relative;
    margin: 0;
    padding: var(--section-footer-padding);
    background-color: var(--color-footer-pale-olive-bg);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--section-footer-width);
    text-align: center;
    font-family: var(--font-family-title);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-regular);
}

/* Navigation */
nav {
    margin: 30px;
    padding: 0;
    text-decoration: none;
    align-items: center;
}

nav .logo {
    padding: 10px;
    margin: 0 20px;
    background-size: contain;
    background-position: center;
    width: 100px;
    height: 50px;
    background-repeat: no-repeat;
    display: flex;
}

nav .logo img {
    width: auto;
    height: 60px;
    margin-bottom: 20px;
    object-fit: contain;
}

nav .login-button {
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family-title);
    font-size: var(--font-size-x-large);
    font-weight: var(--font-weight-regular);
    text-decoration: none;
    padding: var(--button-padding);
    margin: 0 20px;
    border: var(--button-border);
    border-radius: 5px;
    background-color: var(--color-buttons-dark-olive-bg);
}

nav .login-button:hover {
    background-color: var(--button-hover-color);
}

nav .login-button:active {
    background-color: var(--button-hover-color);
}

nav .login-button:focus {
    outline: none;
    background-color: var(--button-hover-color);
}

/* Place Cards */
/* Place Cards*/
#places-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    overflow-x: auto;
    gap: 20px;
    padding: 0;
}

.place-info {
    width: 350px;
    height: 300px;
    margin: 20px auto; /* Center the place cards */
    padding: 60px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.place-info h2 {
    font-family: var(--font-family-title);
    font-size: var(--font-size-x-large);
    font-weight: var(--font-weight-bold);
    padding: 7px;
    margin: 0;
    margin-bottom: 5px;
}

.place-info p {
    font-family: var(--font-family-base);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-regular);
    margin: 0;
    padding: 0%;
}

.place-info:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.horizontal-scroll {
    overflow-x: auto;
    white-space: nowrap;
    max-width: 100%;
}

.horizontal-scroll .place-card {
    display: inline-block;
    vertical-align: top;
}
.button {
    display: inline-block;
    padding: var(--button-padding);
    margin-top: 10px;
    color: var(--text-color);
    background-color: var(--color-buttons-dark-olive-bg);
    border: var(--button-border);
    border-radius: 5px;
    text-decoration: var(--button-text-decoration);
    text-align: center;
}

.button:hover {
    background-color: var(--button-hover-color);
    border: var(--button-border);
}

.button:active {
    background-color: var(--button-hover-color);
}

.button:focus {
    outline: none;
    background-color: var(--button-hover-color);
}

/* Place.html */
#place-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin: 20px auto;
}

/* Login Container */
#login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

/* LogIn Form */
#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    padding: 20px;
    margin-bottom: 50px;
    background-color: var(--color-header-pale-olive-bg);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

#login-form label,
#login-form input {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding: 0;
    padding-top: 20px;
}

#login-form button {
    display: inline-block;
    padding: var(--button-padding);
    margin: 10px 0;
    color: #fff;
    background-color: var(--color-buttons-dark-olive-bg);
    border: var(--button-border);
    border-radius: 5px;
    text-decoration: var(--button-text-decoration);
    text-align: center;
    font-family: var(--font-family-base);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

#login-form button:hover {
    background-color: var(--button-hover-color);
}

/* Place Details Page */
#place-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin: 20px auto;
}

/* Place Details Title */
#place-details h1 {
    font-family: var(--font-family-title);
    font-size: var(--font-size-xx-large);
    font-weight: var(--font-weight-bold);
    margin-bottom: 20px;
    text-align: center;
}

/* Place Description */
.place-description {
    font-family: var(--font-family-base);
    font-size: var(--font-size-medium);
    line-height: var(--line-height-base);
    margin-bottom: 20px;
    text-align: center;
}

/* Place Details Content */
.place-details-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    width: 100%;
}

/* Reviews Section */
.review-section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1000px;
    margin-top: 20px;
    margin-bottom: 60px;
    text-align: center;
}

/* Review Section Title */
.review-section h2 {
    font-family: var(--font-family-title);
    font-size: var(--font-size-x-large);
    font-weight: var(--font-weight-bold);
    margin-bottom: 20px;
}

/* Review List */
.review-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Review Card */
.review-card {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

/* Review Card Title */
.review-card h3 {
    font-family: var(--font-family-title);
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
    margin-bottom: 10px;
}

/* Review Content */
.review-content {
    font-family: var(--font-family-base);
    font-size: var(--font-size-medium);
    line-height: var(--line-height-base);
    margin-bottom: 10px;
}

/* Review Author */
.review-author {
    font-family: var(--font-family-base);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold);
    text-align: right;
    color: var(--text-color);
}

/* Add Review Form */
#add-review {
    margin-top: 20px;
    text-align: center;
}

#review-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

#review-form label {
    display: block;
    margin-bottom: 10px;
    font-size: var(--font-size-medium);
}

#review-form textarea {
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: vertical;
}

#review-form button {
    background-color: var(--color-buttons-dark-olive-bg);
    padding: var(--button-padding);
    color: #fff;
    border: var(--button-border);
    border-radius: 5px;
    cursor: pointer;
}

#review-form button:hover {
    background-color: var(--button-hover-color);
}

.place-card .place-info {
    text-align: center;
}

/* Other */
main {
    padding: 2rem;
    width: 100%;
    min-height: calc(100vh - 120px);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: var(--font-family-title);
    font-weight: var(--font-weight-bold);
}

#title {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: var(--font-size-x-large);
    font-family: var(--font-family-title);
    font-weight: var(--font-weight-bold);
}

#filter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    padding: 0;
    font-family: var(--font-family-base);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-large);
}
